[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.3"
flake8 = "==7.1.1"
matplotlib = "==3.8.2"
scipy = "==1.12.0"
pytorch-lightning = "==2.4.0"
tensorboard = "==2.17.1"
pysoundfile = "==0.9.0.post1"
black = {extras = ["jupyter"] }
seaborn = "==0.13.2"

[dev-packages]
ipykernel = "*"
torch-tb-profiler = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
